:root {
  --section-padding: 100px;
}

.dvMain {
  padding-block-start: calc(var(--section-padding) + 20px);
  min-height: calc(100vh - var(--section-padding));
}

.wrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}
.card {
  border: 1px solid #ececec;
  border-radius: 5px;
  overflow: hidden;
  color: black;
}
.card-header {
  background-color: #fff6f6;
  padding: 10px;
}

.card-body {
  padding: 5px 10px;
  border-top: 1px solid #ececec;
}

.dvPosts {
  flex: 4;
  /* background-color: #ececec; */
}

.featured-post {
  margin-bottom: 10px;
  img {
    max-width: 100%;
  }
}

.imageContainer {
  width: 100%;
}
.imageContainer img {
  width: 100%;
  height: auto;
  max-height: 350px;
  display: block;
}

.dvPost {
  margin-bottom: 10px;
  flex: 1 0 calc(50% - 20px); /* Adjust 20px to account for any margin or padding */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  margin: 5px; /* Adjust as needed */
  img {
    max-width: 100%;
    min-height: 250px;
    max-height: 250px;
    width: 100%;
  }
}

.paged-posts{
  display: flex;
  flex-wrap: wrap;
}


.dvSidebar {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .search-bar {
    display: flex;
    margin: 10px 2px;
    border: 1px solid #ececec;
    border-radius: 5px;
    overflow: hidden;
    justify-content: center;

    #searchText {
      border: none;
      outline: none;
      padding: 5px;
    }

    button {
      background-color: #007bff;
      color: white;
      padding: 5px 10px;
      border: none;
      cursor: pointer;
    }
  }

  .ul-categories {
    list-style: none;

    li a {
      text-decoration-color: cornflowerblue;
      text-decoration: none;
      transition: text-decoration-color 0.3s ease-in;
    }
  }

  .ul-categories li a:hover {
    text-decoration: underline;
    text-decoration-color: cornflowerblue;
  }
}


@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
  /* .dvPosts {
    flex: 1;
  } */
}

@media (max-width: 576px){
  .paged-posts{
    display: block;
  }
}