{% extends 'layout.html' %}
{% comment %} {% extends 'blog.layout.html' %} {% endcomment %}
{% load static %}
{% block pagestyle %}
<link rel="stylesheet" href="{% static 'blog/styles/home.css'%}">
{% endblock %}
{% block body %}
    <div class="container dvMain">
        <h1>Blog</h1>
        <div class="wrapper">
            <div class="dvPosts">
                {% if post %}
                <div class="featured-post card">
                    <div class="imageContainer">
                        <img src="{{ '/media/'|add:post.post_image }}" alt="post image" >
                    </div>
                    <div class="post-content" style="padding:10px;">
                        <p>{{post.created_at|date:"F d, Y"}}</p>
                        <h2>{{post.post_title}}</h2>
                        <p>{{post.post_content|safe}}</p>
                        <br/>
                        <a href="{% url 'posts:index'%}">All posts</a>
                    </div>
                </div>
                {% endif %}

            </div>
            <div class="dvSidebar">
                <div class="card">
                    <span data-text="search" class="card-header">Search</span>
                    <div class="card-body">
                        <form class="search-bar">
                            <input type="text" placeholder="Search" id="searchText">
                            <button type="submit">Search</button>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <span class="card-header">
                        Categories
                    </span>
                    <div class="card-body">
                        <ul class="ul-categories">
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Machine Learning/AI</a></li>
                            <li><a href="#">Freebies</a></li>
                            <li><a href="#">Programming languages</a></li>
                            <li><a href="#">Tutorials</a></li>
                            <li><a href="#">Resources</a></li>
                        </ul>
                    </div>
                </div>

                <ul>
                    {% for post in recent_posts %}
                    <li><a href="{% url 'blog:post' post.id %}">{{post.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
    </div>

    {% block scripts%}
    <script src="{%static 'blog/js/blog.js' %}" defer ></script>
    {% endblock%}
{% endblock %}