/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero { padding-block-start: calc(var(--section-padding) + 60px); }

.hero .container {
  display: grid;
  gap: 70px;
}

.hero-text {
  font-size: var(--fs-7);
  margin-block: 30px 35px;
}

.hero-content :is(.wrapper, .hero-btn) {
  display: flex;
  align-items: center;
}

.hero-content .wrapper {
  flex-wrap: wrap;
  gap: 30px;
  margin-block-end: 30px;
}

.hero-btn {
  gap: 15px;
  color: var(--raisin-black-1);
  transition: var(--transition-1);
}

.hero-btn:is(:hover, :focus) { color: var(--majorelle-blue); }

.hero-btn ion-icon { font-size: 24px; }

.hero-btn .span {
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
}

/* .hero .social-link .span { display: none; } */

.hero .social-list { gap: 12px;
    display: flex;
    justify-content: center;
}

.hero .social-link {
  background-color: var(--white);
  color: var(--color);
  padding: 12px;
  box-shadow: var(--shadow-1);
  border-radius: var(--radius-8);
  transition: var(--transition-2);
}

.hero .social-link:is(:hover, :focus) {
  background-color: var(--color);
  color: var(--white);
}

  /**
   * SERVICE
   */
   /* .service .grid-list { grid-template-columns: repeat(3, 1fr); }

   .service-card .h3 { --fs-3: 2rem; } */
   
/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/

.service { background-color: var(--ghost-white); }

.service .section-title { margin-block: 30px 60px; }

.service-card,
.service .link-card {
  padding: 45px;
  border-radius: var(--radius-20);
}

.service-card {
  height: 100%;
  background-color: var(--white);
  padding-block-end: 40px;
  border-block-end: 3px solid transparent;
  box-shadow: var(--shadow-3);
  transition: var(--transition-1);
}

.service-card:is(:hover, :focus-within) { border-color: hsl(var(--color)); }

.service-card .card-icon, .card-icon-static {
  max-width: max-content;
  padding: 15px;
  border-radius: var(--radius-8);
  background-color: hsla(var(--color), 0.15);
  margin-block-end: 25px;
  transition: var(--transition-2);
}

.service-card:is(:hover, :focus-within) .card-icon { transform: rotateY(0.5turn); }

.service-card .card-title { transition: var(--transition-1); }

.service-card .card-title:is(:hover, :focus-within) { color: hsl(var(--color)); }

.service .link-card {
  background-color: hsla(var(--color), 0.15);
  text-align: center;
}

.service .link-card .span {
  color: var(--raisin-black-1);
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
  margin-block-end: 20px;
  transition: var(--transition-1);
}

.service .link-card:is(:hover, :focus) .span { color: var(--majorelle-blue); }

.service .link-card ion-icon {
  color: var(--majorelle-blue);
  font-size: 150px;
  transform: rotate(-45deg);
  margin: -25px auto;
  transition: var(--transition-1);
}

.service .link-card:is(:hover, :focus) ion-icon { color: hsl(var(--color)); }


/*-----------------------------------*\
  #Contact Page
\*-----------------------------------*/
.dvContact { 
  padding-block-start: calc(var(--section-padding) + 20px);
}

.dvContactWrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form{

}
.imgContainer{
  /* flex:1; */
  height: var(--sp-500);
  /* position: relative; */
}
@keyframes move {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px) scale(1.03);
  }
}
.contact_image{
  height:100%;
  object-fit: contain;
  animation: move ease infinite alternate;
}

input[type="text"],select,option, input[type="email"], textarea {
  width: 100%;
  padding: 10px;
  margin-block-end: 20px;
  border: 1px solid var(--corn-flower-blue);
  outline:none;
}

input[type="text"]:is(:focus, :hover),
input[type="email"]:is(:focus, :hover),
select:is(:focus, :hover),
textarea:is(:focus, :hover) {
  border: 1px solid rgb(184, 184, 253);
}



@media (max-width: 720px) {
  .service .grid-list { grid-template-columns: repeat(2, 1fr); }
  /* .imgContainer {
    height: calc(var(--sp-500) /2);
  } */
.dvContactWrapper{flex-direction: column;}
.imgContainer {height: calc(var(--sp-500) /1.5); }

  /* .service-card .h3 { --fs-3: 2rem; } */
}
@media (max-width: 520px) {
  .service .grid-list { grid-template-columns: repeat(1, 1fr); }
  /* .service-card .h3 { --fs-3: 2rem; } */
}
 

@media (min-width: 992px) {

      /**
   * HERO
   */
   .hero {
    background-image: linear-gradient(to right, hsl(240.35deg 100% 96.77%) 79%, var(--mustard) 79%);
    overflow: hidden;
  }

  .hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 1140px;
    margin-inline: auto;
  }

  .hero .wrapper { flex-wrap: nowrap; }

  .hero .btn,
  .hero-btn .span { flex-shrink: 0; }

  .hero-banner { margin-inline-end: -140px; }


}